


#app {
  display: flex;
  flex-direction: column;
}
#gameBoard {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  

}


dialog:not([open]) { display: none !important; }

.gridSection {
  display: grid;
  place-items: center;
  /* color: #000; */
  border: 5px solid pink;
  border-radius: 16px;
  /* box-shadow:  20px 50px 10px pink inset; */
  box-shadow: 0 0 80px #9b7edf inset;
  
  
}

.gridImage {
  /* border: 10px solid black;  */
  width: 9em;
  height: 9em;
  object-fit: fill;
  /* display: block; */
  border-radius: 16px;

}
#buttonContainer{
  height: 420px;
  height: 420px;
}
#closeButton{
  width: 128px;
  height: 2.5em;
  font-size: 1em;
  font-weight: bold;
}
/* .puppies{
/* }  */

h1 {
  font-size: 3em;
}

ul {
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  align-items: center;
}

img{
  object-fit: contain;
  height: 150px;
  width: 150px;
  padding: 10px;
}
#imgContainer{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  /* height: 250px; */
  /* width: 200px; */
  
}

.buttons{
  display: flex;
  justify-content: space-between;
  /* height: 140px; */
  width: 600px;
}
.btn{
  width: 128px;
  height: 2.5em;
  font-size: 1em;
  font-weight: bold;
}
.pass{
color: green;

}
.fail{
color: red;

}

.wrong{
box-shadow: 10px 20px rgb(206, 35, 13);
}
.right{
box-shadow: 10px 20px rgb(94, 200, 97);
}

.maybe{
  box-shadow: 0 0 80px blue inset;
  border-radius: 16px;
  /* box-shadow: 20px 20px 20px 10px blue; */
  
  
}
#titleArea{
  display: flex;
  justify-content: space-around;
}

/* box-shadow: 0 0 20px #c6b8a3, 0 0 40px #d28a69, 0 0 60px #de7979, 0 0 80px #9b7edf, 0 0 5px #222 inset; */