
#app{
  display: flex;
  flex-direction: column;
}
#gameBoard {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content:center;
}

.gridSection {
  display: grid;
  place-items: center;
  color: #000;
  border: 10px solid black;
}

.gridImage {
     /* border: 10px solid black;  */
    width: 9em;
    height: 9em;
    object-fit: fill;
    /* display: block; */
  } 

/* .puppies{
/* }  */

h1{
  font-size: 3em;
}

ul{
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  align-items: center;
}

