


#app {
  display: flex;
  flex-direction: column;
}
#gameBoard {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}


dialog:not([open]) { display: none !important; }

.gridSection {
  display: grid;
  place-items: center;
  color: #000;
  border: 10px solid black;
}

.gridImage {
  /* border: 10px solid black;  */
  width: 9em;
  height: 9em;
  object-fit: fill;
  /* display: block; */

}
#buttonContainer{
  height: 420px;
  height: 420px;
}
#closeButton{
  width: 128px;
  height: 2.5em;
  font-size: 1em;
  font-weight: bold;
}
/* .puppies{
/* }  */

h1 {
  font-size: 3em;
}

ul {
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  align-items: center;
}

img{
  object-fit: contain;
  height: 300px;
  width: 300px;
  padding: 10px;
}
#imgContainer{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  /* height: 250px; */
  /* width: 200px; */
  
}

.buttons{
  display: flex;
  justify-content: space-between;
  /* height: 140px; */
  width: 600px;
}
.btn{
  width: 128px;
  height: 2.5em;
  font-size: 1em;
  font-weight: bold;
}
.pass{
color: green;

}
.fail{
color: red;

}

.wrong{
box-shadow: 10px 20px rgb(115, 6, 6);
}
.right{
box-shadow: 10px 20px rgb(94, 200, 97);
}
#titleArea{
  display: flex;
  justify-content: space-around;
}